
<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><strong>Stockalyzer</strong></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
        <li><a href="#">Option 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Main body of page -->
<div class="container-fluid">
    <h5>{{currentTitle}}</h5>
  
  <div class="row-fluid">
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">Graph</div>
        <div class="panel-body chart-container" ng-controller="LineController">

          <canvas id="graph" class="chart chart-line" chart-data="data" chart-labels="labels"
    chart-series="series" chart-click="onClick" chart-options="lineOptions"></canvas>

        </div>
      </div>

        <div class="panel panel-default">
        <div class="panel-heading">Analysis</div>
        <div class="panel-body" id="analysis">
          <!-- <p ng-repeat="message in pList track by $index">{{message}}</p> -->
          <ul>
            <li>High: </li>
            <li>Low: </li>
            <li>Midprice: </li>
            <li>RSI: </li>
          </ul>
        </div>
      </div>

    </div>

    
    <div class="col-sm-5" id="stockList">
      <div class="panel panel-default">
        <div class="panel-heading">Stock Selection</div>
        <div class="panel-body" id="stockList">
          <div class="form-group row">
              <div class='container-fluid typeahead-demo'>
              <h4>Select an Equity:</h4>
                <select id="sel1" ng-model="selection1" class="form-control" ng-click="selection2=''; selection1Crypto=''; selection2Cyrpto='';">
                  <option></option>
                  <option ng-repeat="x in realList track by $index">{{x.Name}} [{{x.Symbol}}]</option>
                </select>
              </div>
              <div class='container-fluid typeahead-demo'>
                <h4>Or Start Typing an Equity Name:</h4>
                <input type="text" ng-click="selection1=''; selection1Crypto=''; selection2Cyrpto='';" ng-model="selection2" placeholder="Search" uib-typeahead="stock as (stock.Name + ' [' + stock.Symbol + ']') for stock in realList | filter:{Name:$viewValue} | limitTo:200" class="form-control">
              </div>
              <div class='container-fluid typeahead-demo'>
              <h4>Select Time Interval:</h4>
                <select id="sel2" ng-model="selectionTime" class="form-control" ng-click="">
                  <option>Daily</option>
                  <option>Weekly</option>
                  <option>Monthly</option>
                  <option>Right Now</option>
                </select>
              </div>
              <br>
              <button id="searchButton" type="button" class="btn btn-success btn-lg btn-block" ng-click="apiCall(selection1, selection2, selectionTime); setTitle()">Search Stock</button>
          </div>
        </div>
      </div>


        <div class="panel panel-default">
        <div class="panel-heading">Crypto Currency Selection</div>
        <div class="panel-body" id="stockList">
          <div class="form-group row">
              <div class='container-fluid typeahead-demo'>
              <h4>Select a Crypto Currency:</h4>
                <select id="sel1" ng-model="selection1Crypto" class="form-control" ng-click="selection2Crypto=''; selection1=''; selection2='';">
                  <option></option>
                  <option ng-repeat="x in cryptoList track by $index">{{x["currency name"]}} [{{x["currency code"]}}]</option>
                </select>
              </div>
              <div class='container-fluid typeahead-demo'>
                <h4>Or Start Typing a Crypto Currency:</h4>
                <input type="text" ng-click="selection1Crypto=''; selection1=''; selection2='';" ng-model="selection2Crypto" placeholder="Search" uib-typeahead="crypto as (crypto['currency name'] + ' [' + crypto['currency code'] + ']') for crypto in cryptoList | filter:{['currency name']:$viewValue} | limitTo:200" class="form-control">
              </div>
              <div class='container-fluid typeahead-demo'>
              <h4>Select Time Interval:</h4>
                <select id="sel2" ng-model="selectionTimeCrypto" class="form-control" ng-click="">
                  <option>Daily</option>
                  <option>Weekly</option>
                  <option>Monthly</option>
                  <option>Right Now</option>
                </select>
              </div>
              <div class='container-fluid typeahead-demo'>
              <h4>Select an Exchange Market:</h4>
                <select id="sel1" ng-model="marketSelection" class="form-control" >
                  <option ng-repeat="x in marketList track by $index">({{x["currency code"]}}) {{x["currency name"]}}</option>
                </select>
              </div>
              <br>
              <button id="searchButton" type="button" class="btn btn-success btn-lg btn-block" ng-click="apiCallCrypto(selection1Crypto, selection2Crypto, selectionTimeCrypto, marketSelection); setTitleCrypto()">Search Crypto Currency</button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>




